<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}!
  </h1>  
</div>
<div>
  <input type="file"  (change)="onFileSelect($event.target)" name="myfile">
</div>
<div *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div>

